Pregunta 4

groupby('c1'): Agrupa las filas del DataFrame por los valores únicos de la columna c1.
['c2'].mean(): Calcula el promedio de la columna c2 dentro de cada grupo definido por c1.

pregunta 6

dropna(): Elimina los valores NaN (valores nulos) de la columna para evitar errores.
str.upper(): Convierte todos los valores de texto a mayúsculas.
unique(): Obtiene los valores únicos de la columna.

pregunta 7

groupby('c1'): Agrupa las filas del DataFrame según los valores únicos en la columna c1.
['c2'].sum(): Dentro de cada grupo creado por groupby, se calcula la suma de la columna c2.

In [ ]:
Pregunta 8
to_csv: para exportar el DataFrame a un archivo TSV con el
index=False:  evita que se incluya un índice numérico en la columna de la izquierda.

Pregunta 10
map(str, x): Convierte todos los valores de c2 en strings.
':'.join(...): Une los valores con el separador :
reset_index(): Convierte el índice c1 nuevamente en una columna.